
@media only screen and (min-width:770px) and (max-width: 2000px){
	.header_contact {
		text-align: right;
		float: right;
	}
}

@media only screen and (max-width:767px) {
	.header_center {
		text-align: center;
	}
	.header_contact ul li {
		display: inline-block;
		list-style: none;
		padding: 2px 0;
	}
	.logo {
		padding: 2px 0;
	}
	.logo img {		
		width: 130px;
	}

	.contact_i {
		text-align: left;
	}

}
